#tag_list li {
  display: inline-block;
  list-style-type: none;
  border: 1px solid #ddd;
  margin: 0.1em 0.4em;
  vertical-align: top; }
  #tag_list li a {
    padding: 0.4em 0.5em;
    text-decoration: none;
    display: block; }
    #tag_list li a:hover {
      text-decoration: underline; }
