%h1 Tags
%ul#tag_list
  - @tags.each do |tag|
    - size = (tag.bookcount * @sizeModifier) + @additive
    %li{:style => "font-size: #{size}em"}
      = link_to tag.name+" ("+tag.bookcount.to_s+")", :controller => "tags", :action => "show", :id => tag.id

