<h1>Tags</h1>
<ul>
<% @tags.each do |tag| %>
  <li style="font-size: <%= ((tag.bookmarks.count * @sizeModifier) + 1) %>em;">
    <%= tag.name %> (<%= tag.bookmarks.count %>)
  </li>
<% end %>
</ul>
<br />

